{% extends 'base.html.twig' %} {% block title %}Accueil{% endblock %} {% block body %}
<div class="center">
    <div class="roundedCorners grey padding">
        <div class="title lightGrey padding">
            <h1>Test technique Eldo</h1>
        </div>

        <p class="customButton"><a href="{{ path('sql') }}">test SQL</a></p>
        <p class="customButton"><a href="{{ path('algo') }}">test algorithme</a></p>
        <p><a class="redHover" href="https://github.com/poms313" rel="noopener noreferrer nofollow" target="_blank">Voir le code sur GitHub</a></p><br>
        <p><a class="redHover" href="https://codepen.io/diablo313" rel="noopener noreferrer nofollow" target="_blank">CodePen</a></p><br>
        <p><a class="redHover" href="https://www.linkedin.com/in/pommine-fillatre" rel="noopener noreferrer nofollow" target="_blank">Linkedin</a></p>
        <p><a class="redHover" href="https://www.pommine-fillatre.com" rel="noopener noreferrer nofollow" target="_blank">Mon portfolio</a></p>
    </div>
</div>
{% endblock %}