{% extends 'base.html.twig' %} {% block title %}Quiz logique{% endblock %} {% block body %}
<div class="center grey roundedCorners padding">
    <p class="customButton"><a href="{{ path('quiz') }}">Démarrer</a></p>
    <p class="customButton"><a href="{{ path('algo') }}">Retour</a></p>
</div>

{% endblock %}